aiogram==3.7.0
aiohttp==3.9.5
asyncio==3.4.3
google-cloud-aiplatform==1.71.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
pillow==10.4.0
pytz==2024.1
requests==2.32.3
yarl==1.9.4
asyncpg==0.29.0
kaleido==0.2.1
SQLAlchemy==2.0.35
pytest==8.3.3
