aiogram==3.7.0
aiohttp==3.9.5
asyncio==3.4.3
google==3.0.0
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-aiplatform==1.49.0
google-cloud-bigquery==3.24.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-generativeai==0.6.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.1
grpc-google-iam-v1==0.13.0
grpcio==1.64.1
grpcio-status==1.62.2
gspread==6.1.2
numpy==1.26.4
pandas==2.2.2
plotly==5.22.0
pytz==2024.1
requests==2.32.3
vertexai==1.49.0
yarl==1.9.4
asyncpg==0.29.0
kaleido